$White: #FFFFFF;
$Red: #CC0D1F;
$Black: #202124;

@media only screen and (min-width : 1440px) { 
  .top-header {
    width: 100vw;
    height: 5rem;
  
    padding: 0 15vw;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .search input{
    width: 20rem;
    height: 2rem;
  
    display: flex;
    justify-self: flex-end;
  }
  .search {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  .logo {
    flex: 1;
  }
  
  
  
  .search button{
    width: 5rem;
    height: 2rem;
  
    border: none;
  
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: $Red;
  }
  .menu-hidden {
    visibility: hidden; 
  
  }
  .menu-hidden p {
    visibility: hidden; 
  }
  .icons {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width : 1440px) { 
  .top-header {
    width: 100vw;
    height: 5rem;
  
    padding: 0 15vw;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .search input{
    width: 20rem;
    height: 2rem;
  
    display: flex;
    justify-self: flex-end;
  }
  .search {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  .logo {
    flex: 1;
  }
  
  
  
  .search button{
    width: 5rem;
    height: 2rem;
  
    border: none;
  
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: $Red;
  }
  .menu-hidden {
    visibility: hidden; 
  
  }
  .menu-hidden p {
    visibility: hidden; 
  }
  .icons {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width : 1024px) { 
  .top-header {
    width: 100vw;
    height: 5rem;
  
    padding: 0 2rem;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .search input{
    width: 20rem;
    height: 2rem;
  
    display: flex;
    justify-self: flex-end;
  }
  .search {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  .logo {
    flex: 1;
  }
  
  
  
  .search button{
    width: 5rem;
    height: 2rem;
  
    border: none;
  
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: $Red;
  }
  .menu-hidden {
    visibility: hidden; 
  
  }
  .menu-hidden p {
    visibility: hidden; 
  }
  .icons {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width : 552px) {
  .search input{
    width: 10rem;
    height: 2rem;
  
    display: flex;
    justify-self: flex-end;
  }
  .search {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  .logo {
    flex: 1;
  }
  
  
  
  .search button{
    width: 5rem;
    height: 2rem;
  
    border: none;
  
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: $Red;
  }
  .menu-hidden {
    visibility: hidden; 
  
  }
  .menu-hidden p {
    visibility: hidden; 
  }
  .icons {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  
}
@media only screen and (max-width : 462px) {
  .search input{
    width: 8rem;
    height: 2rem;
  
    display: flex;
    justify-self: flex-end;
  }
  .search {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  .top-header {
    width: 100vw;
    height: 5rem;
  
    padding: 0 2rem;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }
  .logo {
    flex: 1;
  }
  
  
  
  .search button{
    width: 5rem;
    height: 2rem;
  
    border: none;
  
    color: $White;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: $Red;
  }
  .menu-hidden {
    visibility: hidden; 
  
  }
  .menu-hidden p {
    visibility: hidden; 
  }
  .icons {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

  @media only screen and (max-width : 320px) {
  .search input{
    
    visibility: hidden;
  }
  .top-header {
    width: 100vw;
    height: 10rem;
    
    position: relative;
    
    margin-top: 1rem;
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }
  .search {
    flex: 1;
    margin: 0;

    visibility: hidden;
  
  }
  .logo {
    position: absolute;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    margin: 0 2rem;
  }
  
  
  
  .search button{
    
    visibility: hidden;
  }
  .menu-hidden {
    width: 10rem;
    height: 5rem;

    visibility: visible;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    text-align: center;
    margin-bottom: 1rem;   

  }
  .menu-hidden p {
    margin-top: .3rem;
    color: $Red;
    font-size: 1rem;
    font-family: Open Sans;
    font-weight: 600;
    visibility: visible;
  }
  .icons {
    width: 30px;
    height: 30px;
    visibility: visible;
  }
  

  
}



