$Red: #CC0D1F;

@media only screen and (min-width : 1440px) {
  #footer {
    width: 100vw;
    height: 200px;
    background-color: $Red;
  }
}
@media only screen and (max-width : 1440px) {
  #footer {
    width: 100vw;
    height: 200px;
    background-color: $Red;
  }
}
@media only screen and (max-width : 1024px) {
  #footer {
    width: 100vw;
    height: 200px;
    background-color: $Red;
  }
}
@media only screen and (max-width : 768px) {
  #footer {
    width: 100vw;
    height: 200px;
    background-color: $Red;
  }
}
@media only screen and (max-width : 462px) {
  #footer {
    width: 100vw;
    height: 0px;
    background-color: $Red;
  }
}
